{% assign current_lang = page.lang | default: "ko" %}
{% if current_lang == "ko-KR" %}{% assign current_lang = "ko" %}{% endif %}
{%- for post in site.tags[include.taxonomy] -%}
  {%- unless post.hidden -%}
    {% if current_lang == "ko" %}
      {% unless post.lang %}
        {% include archive-single.html %}
      {% endunless %}
    {% else %}
      {% if post.lang == current_lang %}
        {% include archive-single.html %}
      {% endif %}
    {% endif %}
  {%- endunless -%}
{%- endfor -%}
