/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

$link-color: #262626 !default;
$link-color-hover: rgba(38, 38, 38, 0.6) !default;
$link-color-visited: #262626 !default;
$masthead-link-color: #262626 !default;
$masthead-link-color-hover: rgba(38, 38, 38, 0.8) !default;
